.cat-main {
  --cat-green: #50E3C299;
  --cat-red: #ff6b6b99;
  --cat-dark-grey: #838383;
  --cat-light-grey: #f3f6f9;
  --cat-dark-text: #4A4B4B;
  --cat-green-text: #319A83;
  --cat-red-text: #E04C4C;
  --cat-grey: #DEE2E6;
  --cat-blue: #2b7cff;
}

.cat-card-title {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  color: var(--cat-dark-text);
  font-size: 24px;
  font-weight: 700;
  padding: 30px 0 0 40px;
  margin: 0;
}

.cat-card-type-title {
  display: inline;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  font-size: 12px;
  margin-left: 40px;
  padding: 0 15px;
  min-width: 90px;
  height: 20px;
  border-radius: 10px;
}


.cat-text {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  font-size: 12px;
}

.cat-title {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  font-size: 14px;
  color: var(--cat-dark-grey);
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.cat-main {
  display: grid;
  grid-template-columns: 820fr 700fr;
  gap: 50px;
  padding: 40px 30px;
}

.cat-list-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px 20px;
  padding: 15px;
  max-height: 600px;
  overflow: scroll;
  scrollbar-width: none;
}

.cat-list-selectors {
  input {
    width: 600px;
    height: 30px;
    margin: 15px;
    padding-left: 10px;
  }
}

input {
  border-radius: 10px;
  border: 1px solid var(--stroke);
  background: var(--cat-light-grey);
}

input:focus {
  outline: none;
  border: 2px solid var(--cat-dark-grey);
}

.cat-card {
  height: 120px;
  width: 385px; 
  border: 1px solid var(--stroke); 
  border-radius: 17px;
  background: var(--cat-light-grey);
  display: flex;
  justify-content: space-between;
}

.cat-card:hover {
  cursor: pointer;
  outline: none;
  border: 1px solid var(--cat-dark-grey);
}

.green {
  color: var(--cat-green-text);
  background-color: var(--cat-green);
}

.red {
  color: var(--cat-red-text);
  background-color: var(--cat-red);
}

.cat-window {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;

  .cat-form {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.cat-window-bg {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: #4A4B4B99;
}

.cat-card-icon {
  margin: 30px;
}

.cat-filters {
  display: inline;
  background: var(--cat-grey);
  padding: 7px;
  border-radius: 15px;

  button {
    cursor: pointer;
    background: none;
    border: none;
    color: var(--cat-dark-text);
  }
}

.cat-filter-active {
  background: var(--cat-light-grey) !important;
  padding: 5px;
  border-radius: 12px;
}

.cat-form {
  border: 1px solid var(--stroke); 
  border-radius: 17px;
  background: var(--cat-light-grey);
  padding: 0 30px;
  height: fit-content;

  input {
    background: #fff;
    width: 50%;
    height: 30px;
    padding-left: 5px;
  }

  textarea {
    border-radius: 10px;
    border: 1px solid var(--stroke);
    background: #fff;
    resize: none;
    width: 100%;
    height: 100px;
    padding: 5px;
  }

  textarea:focus {
    outline: none;
    border: 2px solid var(--cat-dark-grey);
  }
}


.cat-icon-grid {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  gap: 10px;
}

.cat-grid-icon-item {
  cursor: pointer;
  border: 1px solid var(--stroke);
  border-radius: 5px;
}

.cat-grid-icon-item.selected {
  border: 2px solid var(--cat-dark-grey);
}

.cat-grid-icon-item:hover {
  border-color: var(--cat-dark-grey);
}

.cat-form-buttons {
  display: flex;
  justify-content: right;
  gap: 10px;
  padding: 20px;
}

.cat-button {
  cursor: pointer;
  border: 1px solid;
  padding: 5px 15px;
  border-radius: 10px;
}

.cat-button:hover {
  border: 1px solid var(--cat-dark-grey);
}

.cat-button:disabled {
  border: 1px solid var(--cat-dark-grey);
  background: var(--cat-dark-grey);
  color: var(--cat-dark-text);
}

.cat-button:disabled:hover {
  cursor: default;
}

.submit {
  background: var(--cat-blue);
  border: 1px solid var(--cat-blue);
  color: var(--cat-light-grey);
}